name: Latest blog post workflow
on:
  schedule:
    # Runs every day at 9:00 AM JST (0:00 UTC)
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual trigger

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update README with latest blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://taniguchi-kyoichi.com/tech/feed"
          max_post_count: 5
          comment_tag_name: "BLOG"
          template: "- [$title]($url)"
